name: ci
on:
  push:
    branches: [main]
  pull_request:
jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Dagger
        uses: kpenfound/dagger-action@main
        with:
          args: ci --directory https://github.com/kpenfound/greetings-api\#${{ env.GITHUB_REF_NAME }}
          module: github.com/kpenfound/greetings-api
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
